* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
  } */
:root {
  font-family: "Muli", sans-serif;
  font-size: 6.25%;
  --background-color: #834efc;
  --text-color: white;
  --verde-claro: #21c08b;
  --morado-claro: #ab88ff;
  color: var(--text-color);
}
body {
  background: linear-gradient(var(--verde-claro), var(--morado-claro));
  min-height: 100vh;
}
.header {
  /* background-color: var(--background-color); */
  width: 100vw;
  padding-top: 15rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.header-img {
  color: var(--text-color);
  height: 40rem;
}
.login {
  text-align: center;
}
.login__container {
  width: 95vw;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.1);
  border: 2px solid var(--text-color);
  border-radius: 40px;
  padding: 50rem;
}
.login__container--title {
  font-size: 19rem;
  font-weight: normal;
  align-self: baseline;
}
.login__container--form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login__container--remember-me {
  font-size: 10rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.login__container--remember-me label {
  display: flex;
  align-content: center;
}
.login__container--form a {
  color: var(--text-color);
  font-size: inherit;
  text-decoration: none;
}
.login__container--form a:hover {
  text-decoration: underline;
}
.login__container--social-media {
    margin-top: 50rem;
    align-self: baseline;
}
.login__container--social-media div {
  display: flex;
  align-items: center;
  font-size: 11rem;
  margin-bottom: 10rem;
}
.login__container--social-media img {
    height: 25rem;
  cursor: pointer;
}
.login__container--register {
    font-size: 11rem;
}
