* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html {
} */
:root {
  font-family: "Muli", sans-serif;
  font-size: 6.25%;
  --background-color: #834efc;
  --text-color: white;
}
body {
  background-color: var(--background-color);
  height: 100vh;
}
.header {
  /* background-color: var(--background-color); */
  width: 100vw;
  padding-top: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-img {
  color: var(--text-color);
  height: 40rem;
}
.header-menu {
  margin-right: 15rem;
  font-size: 16rem;
}
.header-menu ul {
  display: none;
  list-style: none;
  position: absolute;
  width: 100rem;
  text-align: right;
  margin-left: -14rem;
}
.header-menu li {
  margin: 10rem 0;
}
.header-menu li a {
  color: var(--text-color);
  text-decoration: none;
}
.header-menu:hover ul,
ul:hover {
  display: block;
}
.header-menu-profile {
  color: var(--text-color);
  /* margin-right: 60rem; */
  /* width: 40rem; */
  display: flex;
  align-items: center;
}
.header-menu-profile img {
  margin-right: 8rem;
  width: 40rem;
  aspect-ratio: auto 1/1;
}
.search {
  text-align: center;
}
.main-title {
  color: var(--text-color);
  font-size: 25rem;
  margin-bottom: 20rem;
}
.search-input {
  border: 2px solid var(--text-color);
  border-radius: 25rem;
  background-color: rgba(255, 255, 255, .1);
  font-size: 17rem;
  padding: 13.1rem;
  width: 90%;
  max-width: 500px;
}
.search-input:focus-visible{
  outline: none;
}
::placeholder{
color: var(--text-color);
}
